@page "/login"
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
	<div class="mb-2">
		<InputText @bind-Value="loginModel.Password" placeholder="Password" typeof="password" class="form-control" />
	</div>

</EditForm>

@if (!string.IsNullOrEmpty(message))
{
	<div class="mt-3 alert @(isSuccess ? "alert-success" : "alert danger")">
		@message
	</div>
}

@code {
	private LoginModel loginModel = new();
	private string message = string.Empty;
	private bool isSuccess;

	private async Task HandleLogin()
	{
		try
		{
			var response = await Http.PostAsJsonAsync("api/user/login", loginModel);

			if (response.IsSuccessStatusCode)
			{
				var token = await response.Content.ReadAsStringAsync();
				isSuccess = true;
				message = "Login successful.";
			}
			else
			{
				isSuccess = false;
				message = "Login failed. Check your email or password.";
			}
		}
		catch (Exception ex)
		{
			isSuccess = false;
			message = $"Error: {ex.Message}";
		}
	}
	public class LoginModel
	{
		public string Email { get; set; }
		public string Password { get; set; }
	}
}
